<!--register-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>success</title>
</head>
<body>
<form role="form" action="/register" method="post">
  please input username:<input type="text" name="username" id="username"><br>
  please input password：<input type="password" name="password" id="password"><br>
  please input cellphone number：<input type="text" name="cellphone" id="cellphone"><br>
  please input email：<input type="text" name="email" id="email"><br>
  <input type="submit" name="sign" value="submit">
</form>
</body>
</html>

